@model IEnumerable<Article>

@{
    ViewData["Title"] = "Articles";
}

<h1 class="display-4 pb-5">@ViewBag.CategoryName</h1>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-4">
            <div class="ajaxbg d-none">
                <img src="~/images/ajax-loader.gif" />
                <p class="lead alert alert-success text-center d-none">
                    The article has been added!
                </p>
            </div>
            <img src="~/media/articles/@item.Image" class="img-fluid" alt="" />
            <h4>@item.Name</h4>
            <div>
                @Html.Raw(item.Description)
            </div>
            <p>
            </p>
        </div>
    }

    @if (ViewBag.TotalPages > 1)
    {
        <div class="d-flex w-100 justify-content-center">
            <pagination page-count="@ViewBag.TotalPages" page-target="/articles/@ViewBag.CategorySlug" page-number="@ViewBag.PageNumber" page-range="@ViewBag.PageRange"></pagination>
        </div>
    }

</div>
