@model IEnumerable<Article>

@{
    ViewData["Title"] = "itr";
}

@if(User.Identity.IsAuthenticated){
    <p>
    <a asp-controller="Articles" asp-action="Create" class="btn btn-outline-info">Create New</a>
    @*<a asp-controller="Articles" asp-action="Create">Create New</a>*@
</p>
}
    <div class="row row-cols-1 row-cols-md-2 g-4">
            @foreach (var item in Model)
        {
            <div class="col">
            <a asp-controller="Articles" asp-action="Details" asp-route-id="@item.Id" style="text-decoration: none">
            <div class="card border-primary mb-3" style="max-width: 530px;">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src='/images/@item.Image' class="img-fluid rounded-start">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <p class="card-text">@item.Category.Name</p>
                    <p class="card-text">@item.UserName</p>
                    <p class="card-text"><small class="text-muted">Users rating: @item.UsersRating</small></p>
                  </div>
                </div>
              </div>
            </div>
            </a>
           </div>
        }
    </div>
        
@if (ViewBag.TotalPages > 1)
    {
        <div class="d-flex w-100 justify-content-center">
            <pagination page-count="@ViewBag.TotalPages" page-target="/articles" page-number="@ViewBag.PageNumber" page-range="@ViewBag.PageRange"></pagination>
        </div>
    }